{% load static %}

<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>{% block title %}SHS Dictionary{% endblock %}</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-3.css' %}">

</head> 

<body>
    
    <header class="header text-center">	    
	    <h1 class="blog-name pt-lg-4 mb-0"><a href="{% url 'index' %}">SHS Dictionary</a></h1>
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    {% block img %}<img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/dict.png' %}" alt="SHS_dictionary" >{% endblock %}		
					
					<div class="bio mb-3">SHS Dictionary Is A Website Where You Can Get Meaning, Synonmys and Antonyms Of Any Word<br></div>
					
			        <hr> 
				</div>
				
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item active">
					    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home fa-fw mr-2"></i>Home</a>
					</li>
		</nav>
    </header>
    
    <div class="main-wrapper">
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">SHS Dictionary</h2>
				<div class="intro">Search Your Word Below</div>
				

			    <form class="signup-form form-inline justify-content-center pt-3" action="search">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Enter Your Word</label>
                        <input type="text" id="semail" name="word" class="form-control mr-md-1 semail" placeholder="Enter Your Word">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
				</form>
				
				

		    </div>
	    </section>
	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">
				{% block content %}
				<div  align="center"></div>
				{% endblock %}
		    </div>
	    </section>
	    <br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br>
	    <footer class="footer text-center py-2 mt-auto  theme-bg-dark" >
		   
	     <small class="copyright">Developed By <a href="https://github.com/sheeffii" target="_blank">SHS</a></small>
		   
	    </footer>
</body>
</html> 

