{% extends 'index.html' %}
{% load static %}

{% block content %}
<div>
    <h2  align="center"> {{ results.word | title }} </h2>
    <br>
    <p>
        <b>Meaning: </b>{{results.meaning}}
    </p>
    <br>
    <p>
        <b>Synonyms: </b>
        {% for s in synonym %}
        <a href="/search?word={{s}}"  target=”_blank”>{{s}}</a>,
        {% endfor %}
    </p>
    <br>
    <p>
        <b>Antonyms: </b>
        {% for a in antonym %}
        <a href="/search?word={{a}}"  target=”_blank”>{{a}}</a>,
        {% endfor %}
    </p>
</div>
{% endblock %}